# Python
.venv/
__pycache__/
*.pyc
.env

# macOS
.DS_Store

# iOS / Xcode
ios/DerivedData/
ios/Build/
ios/build/
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/Pubo.xcodeproj/project.xcworkspace/
ios/Pubo.xcodeproj/xcuserdata/

# Secrets
ios/Pubo/Pubo/Secrets.swift
backend/pubo.db
pubo.db
backend/venv/
backend/firebase-key.json
backend/.env
.env
**/.DS_Store
venv/
backend/__pycache__/
九個項目的CSV/
ios/Pubo/Pubo.xcodeproj/project.xcworkspace/xcuserdata/
ios/Pubo/Pubo.xcodeproj/xcuserdata/
